@use "../components/globalStyle/" as *;

.layout {
  max-width: 1150px;
  margin: 0 auto;
  position: relative;
  @include columnCenter;
  flex-direction: column-reverse;
  @include responsive(laptop) {
    flex-direction: row;
    align-items: flex-start;
  }
  .left {
    @include rowCenter;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 10px;
    @include responsive(laptop) {
      width: 65%;
    }
  }

  .right {
    padding: 10px;
    @include responsive(laptop) {
      width: 35%;
    }
  }
}
